<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.A</key>
		<array>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>Amacron</string>
			<string>Abreve</string>
			<string>Aogonek</string>
			<string>Aringacute</string>
			<string>uni0200</string>
			<string>uni0202</string>
			<string>uni1EA0</string>
			<string>uni1EA2</string>
			<string>uni1EA4</string>
			<string>uni1EA6</string>
			<string>uni1EA8</string>
			<string>uni1EAA</string>
			<string>uni1EAC</string>
			<string>uni1EAE</string>
			<string>uni1EB0</string>
			<string>uni1EB2</string>
			<string>uni1EB4</string>
			<string>uni1EB6</string>
		</array>
		<key>public.kern1.C</key>
		<array>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>Ccaron</string>
		</array>
		<key>public.kern1.D</key>
		<array>
			<string>D</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Eth</string>
		</array>
		<key>public.kern1.E</key>
		<array>
			<string>E</string>
			<string>AE</string>
			<string>AEacute</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Emacron</string>
			<string>Ebreve</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Ecaron</string>
			<string>uni0204</string>
			<string>uni0206</string>
			<string>uni1EB8</string>
			<string>uni1EBA</string>
			<string>uni1EBC</string>
			<string>uni1EBE</string>
			<string>uni1EC0</string>
			<string>uni1EC2</string>
			<string>uni1EC4</string>
			<string>uni1EC6</string>
			<string>OE</string>
		</array>
		<key>public.kern1.G</key>
		<array>
			<string>G</string>
			<string>Gcircumflex</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>uni0122</string>
			<string>Gcaron</string>
		</array>
		<key>public.kern1.H</key>
		<array>
			<string>H</string>
			<string>I</string>
			<string>Hcircumflex</string>
			<string>Hbar</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
			<string>Ibreve</string>
			<string>Itilde</string>
			<string>Iogonek</string>
			<string>Idotaccent</string>
			<string>uni0208</string>
			<string>uni020A</string>
			<string>uni1EC8</string>
			<string>uni1ECA</string>
		</array>
		<key>public.kern1.J</key>
		<array>
			<string>J</string>
			<string>Jcircumflex</string>
			<string>uni01C7</string>
			<string>uni01CA</string>
		</array>
		<key>public.kern1.K</key>
		<array>
			<string>K</string>
			<string>uni0136</string>
		</array>
		<key>public.kern1.L</key>
		<array>
			<string>L</string>
			<string>Lacute</string>
			<string>uni013B</string>
			<string>Lslash</string>
			<string>Lcaron</string>
			<string>Ldot</string>
		</array>
		<key>public.kern1.N</key>
		<array>
			<string>N</string>
			<string>Ntilde</string>
			<string>Nacute</string>
			<string>uni0145</string>
			<string>Ncaron</string>
			<string>Eng</string>
		</array>
		<key>public.kern1.O</key>
		<array>
			<string>O</string>
			<string>Q</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Omacron</string>
			<string>Obreve</string>
			<string>Ohungarumlaut</string>
			<string>uni01EA</string>
			<string>uni020C</string>
			<string>uni020E</string>
			<string>uni022A</string>
			<string>uni022C</string>
			<string>uni0230</string>
			<string>uni1ECC</string>
			<string>uni1ECE</string>
			<string>uni1ED0</string>
			<string>uni1ED2</string>
			<string>uni1ED4</string>
			<string>uni1ED6</string>
			<string>uni1ED8</string>
			<string>Oslash</string>
			<string>Oslashacute</string>
			<string>uni018F</string>
		</array>
		<key>public.kern1.Ohorn</key>
		<array>
			<string>Ohorn</string>
			<string>uni1EDA</string>
			<string>uni1EDC</string>
			<string>uni1EDE</string>
			<string>uni1EE0</string>
			<string>uni1EE2</string>
		</array>
		<key>public.kern1.R</key>
		<array>
			<string>R</string>
			<string>Racute</string>
			<string>uni0156</string>
			<string>Rcaron</string>
			<string>uni0210</string>
			<string>uni0212</string>
		</array>
		<key>public.kern1.S</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scircumflex</string>
			<string>Scedilla</string>
			<string>Scaron</string>
			<string>uni0218</string>
			<string>uni1E9E</string>
		</array>
		<key>public.kern1.T</key>
		<array>
			<string>T</string>
			<string>uni0162</string>
			<string>Tcaron</string>
			<string>Tbar</string>
			<string>uni021A</string>
		</array>
		<key>public.kern1.U</key>
		<array>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Utilde</string>
			<string>Umacron</string>
			<string>Ubreve</string>
			<string>Uring</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>uni0214</string>
			<string>uni0216</string>
			<string>uni1EE4</string>
			<string>uni1EE6</string>
		</array>
		<key>public.kern1.Uhorn</key>
		<array>
			<string>Uhorn</string>
			<string>uni1EE8</string>
			<string>uni1EEA</string>
			<string>uni1EEC</string>
			<string>uni1EEE</string>
			<string>uni1EF0</string>
		</array>
		<key>public.kern1.W</key>
		<array>
			<string>W</string>
			<string>Wcircumflex</string>
			<string>Wgrave</string>
			<string>Wacute</string>
			<string>Wdieresis</string>
		</array>
		<key>public.kern1.Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>uni0232</string>
			<string>Ygrave</string>
			<string>uni1EF4</string>
			<string>uni1EF6</string>
			<string>uni1EF8</string>
		</array>
		<key>public.kern1.Z</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>Zcaron</string>
			<string>uni01C4</string>
		</array>
		<key>public.kern1.a</key>
		<array>
			<string>a</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aogonek</string>
			<string>aringacute</string>
			<string>uni0201</string>
			<string>uni0203</string>
			<string>uni1EA1</string>
			<string>uni1EA3</string>
			<string>uni1EA5</string>
			<string>uni1EA7</string>
			<string>uni1EA9</string>
			<string>uni1EAB</string>
			<string>uni1EAD</string>
			<string>uni1EAF</string>
			<string>uni1EB1</string>
			<string>uni1EB3</string>
			<string>uni1EB5</string>
			<string>uni1EB7</string>
		</array>
		<key>public.kern1.bar</key>
		<array>
			<string>bar</string>
			<string>brokenbar</string>
		</array>
		<key>public.kern1.c</key>
		<array>
			<string>c</string>
			<string>ccedilla</string>
			<string>cacute</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
			<string>ccaron</string>
		</array>
		<key>public.kern1.colon</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern1.colonmonetary.lf</key>
		<array>
			<string>colonmonetary.lf.1</string>
			<string>colonmonetary.lf</string>
		</array>
		<key>public.kern1.d</key>
		<array>
			<string>d</string>
			<string>dcroat</string>
		</array>
		<key>public.kern1.dollar.lf</key>
		<array>
			<string>dollar.lf.1</string>
			<string>dollar.lf</string>
		</array>
		<key>public.kern1.e</key>
		<array>
			<string>e</string>
			<string>ae</string>
			<string>aeacute</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>emacron</string>
			<string>ebreve</string>
			<string>edotaccent</string>
			<string>eogonek</string>
			<string>ecaron</string>
			<string>uni0205</string>
			<string>uni0207</string>
			<string>uni1EB9</string>
			<string>uni1EBB</string>
			<string>uni1EBD</string>
			<string>uni1EBF</string>
			<string>uni1EC1</string>
			<string>uni1EC3</string>
			<string>uni1EC5</string>
			<string>uni1EC7</string>
			<string>oe</string>
		</array>
		<key>public.kern1.f</key>
		<array>
			<string>f</string>
			<string>f_f</string>
		</array>
		<key>public.kern1.g</key>
		<array>
			<string>g</string>
			<string>gcircumflex</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
			<string>uni0123</string>
			<string>gcaron</string>
		</array>
		<key>public.kern1.guilsinglleft</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
		</array>
		<key>public.kern1.guilsinglleft.case</key>
		<array>
			<string>guilsinglleft.case</string>
			<string>guillemotleft.case</string>
		</array>
		<key>public.kern1.guilsinglright</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
		</array>
		<key>public.kern1.guilsinglright.case</key>
		<array>
			<string>guilsinglright.case</string>
			<string>guillemotright.case</string>
		</array>
		<key>public.kern1.hyphen</key>
		<array>
			<string>hyphen</string>
			<string>uni00AD</string>
			<string>endash</string>
			<string>emdash</string>
		</array>
		<key>public.kern1.hyphen.case</key>
		<array>
			<string>hyphen.case</string>
			<string>endash.case</string>
			<string>emdash.case</string>
		</array>
		<key>public.kern1.i</key>
		<array>
			<string>i</string>
			<string>dotlessi</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>itilde</string>
			<string>imacron</string>
			<string>ibreve</string>
			<string>iogonek</string>
			<string>uni0209</string>
			<string>uni020B</string>
			<string>uni1EC9</string>
			<string>uni1ECB</string>
			<string>fi</string>
			<string>f_f_i</string>
		</array>
		<key>public.kern1.j</key>
		<array>
			<string>j</string>
			<string>uni01C8</string>
			<string>uni01CB</string>
			<string>uni0237</string>
			<string>jcircumflex</string>
			<string>uni01C9</string>
			<string>uni01CC</string>
		</array>
		<key>public.kern1.k</key>
		<array>
			<string>k</string>
			<string>uni0137</string>
			<string>kgreenlandic</string>
		</array>
		<key>public.kern1.l</key>
		<array>
			<string>l</string>
			<string>lacute</string>
			<string>uni013C</string>
			<string>fl</string>
			<string>f_f_l</string>
		</array>
		<key>public.kern1.minute</key>
		<array>
			<string>minute</string>
			<string>second</string>
		</array>
		<key>public.kern1.n</key>
		<array>
			<string>n</string>
			<string>h</string>
			<string>m</string>
			<string>hcircumflex</string>
			<string>hbar</string>
			<string>ntilde</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>uni0146</string>
		</array>
		<key>public.kern1.o</key>
		<array>
			<string>o</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>omacron</string>
			<string>obreve</string>
			<string>ohungarumlaut</string>
			<string>uni01EB</string>
			<string>uni020D</string>
			<string>uni020F</string>
			<string>uni022B</string>
			<string>uni022D</string>
			<string>uni0231</string>
			<string>uni1ECD</string>
			<string>uni1ECF</string>
			<string>uni1ED1</string>
			<string>uni1ED3</string>
			<string>uni1ED5</string>
			<string>uni1ED7</string>
			<string>uni1ED9</string>
			<string>oslash</string>
			<string>oslashacute</string>
			<string>uni0259</string>
		</array>
		<key>public.kern1.ohorn</key>
		<array>
			<string>ohorn</string>
			<string>uni1EDB</string>
			<string>uni1EDD</string>
			<string>uni1EDF</string>
			<string>uni1EE1</string>
			<string>uni1EE3</string>
		</array>
		<key>public.kern1.p</key>
		<array>
			<string>p</string>
			<string>thorn</string>
		</array>
		<key>public.kern1.period</key>
		<array>
			<string>period</string>
			<string>comma</string>
			<string>ellipsis</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>public.kern1.quoteleft</key>
		<array>
			<string>quoteleft</string>
			<string>quotedblleft</string>
		</array>
		<key>public.kern1.quoteright</key>
		<array>
			<string>quoteright</string>
			<string>uni02BC</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern1.quotesingle</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
		<key>public.kern1.r</key>
		<array>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>uni0157</string>
			<string>uni0211</string>
			<string>uni0213</string>
		</array>
		<key>public.kern1.s</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scircumflex</string>
			<string>scedilla</string>
			<string>scaron</string>
			<string>uni0219</string>
		</array>
		<key>public.kern1.space</key>
		<array>
			<string>space</string>
			<string>uni00A0</string>
		</array>
		<key>public.kern1.t</key>
		<array>
			<string>t</string>
			<string>uni0163</string>
			<string>tcaron</string>
			<string>tbar</string>
			<string>uni021B</string>
		</array>
		<key>public.kern1.u</key>
		<array>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>utilde</string>
			<string>umacron</string>
			<string>ubreve</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
			<string>uni0215</string>
			<string>uni0217</string>
			<string>uni1EE5</string>
			<string>uni1EE7</string>
		</array>
		<key>public.kern1.uhorn</key>
		<array>
			<string>uhorn</string>
			<string>uni1EE9</string>
			<string>uni1EEB</string>
			<string>uni1EED</string>
			<string>uni1EEF</string>
			<string>uni1EF1</string>
		</array>
		<key>public.kern1.uni20A6.lf</key>
		<array>
			<string>uni20A6.lf.1</string>
			<string>uni20A6.lf</string>
		</array>
		<key>public.kern1.uni20A9.lf</key>
		<array>
			<string>uni20A9.lf.1</string>
			<string>uni20A9.lf</string>
		</array>
		<key>public.kern1.uni20B1.lf</key>
		<array>
			<string>uni20B1.lf.1</string>
			<string>uni20B1.lf</string>
		</array>
		<key>public.kern1.uni20B2.lf</key>
		<array>
			<string>uni20B2.lf.1</string>
			<string>uni20B2.lf</string>
		</array>
		<key>public.kern1.w</key>
		<array>
			<string>w</string>
			<string>wcircumflex</string>
			<string>wgrave</string>
			<string>wacute</string>
			<string>wdieresis</string>
		</array>
		<key>public.kern1.y</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>ycircumflex</string>
			<string>uni0233</string>
			<string>ygrave</string>
			<string>uni1EF5</string>
			<string>uni1EF7</string>
			<string>uni1EF9</string>
		</array>
		<key>public.kern1.z</key>
		<array>
			<string>z</string>
			<string>uni01C5</string>
			<string>zacute</string>
			<string>zdotaccent</string>
			<string>zcaron</string>
			<string>uni01C6</string>
		</array>
		<key>public.kern2.A</key>
		<array>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>Amacron</string>
			<string>Abreve</string>
			<string>Aogonek</string>
			<string>Aringacute</string>
			<string>uni0200</string>
			<string>uni0202</string>
			<string>uni1EA0</string>
			<string>uni1EA2</string>
			<string>uni1EA4</string>
			<string>uni1EA6</string>
			<string>uni1EA8</string>
			<string>uni1EAA</string>
			<string>uni1EAC</string>
			<string>uni1EAE</string>
			<string>uni1EB0</string>
			<string>uni1EB2</string>
			<string>uni1EB4</string>
			<string>uni1EB6</string>
		</array>
		<key>public.kern2.AE</key>
		<array>
			<string>AE</string>
			<string>AEacute</string>
		</array>
		<key>public.kern2.G</key>
		<array>
			<string>G</string>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>Ccaron</string>
			<string>Gcircumflex</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>uni0122</string>
			<string>Gcaron</string>
		</array>
		<key>public.kern2.H</key>
		<array>
			<string>H</string>
			<string>B</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>I</string>
			<string>K</string>
			<string>L</string>
			<string>P</string>
			<string>R</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Emacron</string>
			<string>Ebreve</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Ecaron</string>
			<string>uni0204</string>
			<string>uni0206</string>
			<string>uni1EB8</string>
			<string>uni1EBA</string>
			<string>uni1EBC</string>
			<string>uni1EBE</string>
			<string>uni1EC0</string>
			<string>uni1EC2</string>
			<string>uni1EC4</string>
			<string>uni1EC6</string>
			<string>Hcircumflex</string>
			<string>Hbar</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
			<string>Ibreve</string>
			<string>Itilde</string>
			<string>Iogonek</string>
			<string>Idotaccent</string>
			<string>uni0208</string>
			<string>uni020A</string>
			<string>uni1EC8</string>
			<string>uni1ECA</string>
			<string>uni0136</string>
			<string>Lacute</string>
			<string>uni013B</string>
			<string>Lcaron</string>
			<string>Ldot</string>
			<string>Racute</string>
			<string>uni0156</string>
			<string>Rcaron</string>
			<string>uni0210</string>
			<string>uni0212</string>
			<string>Thorn</string>
			<string>Eth</string>
			<string>uni01C4</string>
			<string>uni01C5</string>
			<string>uni01C7</string>
			<string>uni01C8</string>
		</array>
		<key>public.kern2.J</key>
		<array>
			<string>J</string>
			<string>Jcircumflex</string>
		</array>
		<key>public.kern2.N</key>
		<array>
			<string>N</string>
			<string>Ntilde</string>
			<string>Nacute</string>
			<string>uni0145</string>
			<string>Ncaron</string>
			<string>Eng</string>
			<string>uni01CA</string>
			<string>uni01CB</string>
		</array>
		<key>public.kern2.O</key>
		<array>
			<string>O</string>
			<string>Q</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Omacron</string>
			<string>Obreve</string>
			<string>Ohungarumlaut</string>
			<string>Ohorn</string>
			<string>uni01EA</string>
			<string>uni020C</string>
			<string>uni020E</string>
			<string>uni022A</string>
			<string>uni022C</string>
			<string>uni0230</string>
			<string>uni1ECC</string>
			<string>uni1ECE</string>
			<string>uni1ED0</string>
			<string>uni1ED2</string>
			<string>uni1ED4</string>
			<string>uni1ED6</string>
			<string>uni1ED8</string>
			<string>uni1EDA</string>
			<string>uni1EDC</string>
			<string>uni1EDE</string>
			<string>uni1EE0</string>
			<string>uni1EE2</string>
			<string>Oslash</string>
			<string>Oslashacute</string>
			<string>OE</string>
		</array>
		<key>public.kern2.S</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scircumflex</string>
			<string>Scedilla</string>
			<string>Scaron</string>
			<string>uni0218</string>
			<string>uni1E9E</string>
		</array>
		<key>public.kern2.T</key>
		<array>
			<string>T</string>
			<string>uni0162</string>
			<string>Tcaron</string>
			<string>Tbar</string>
			<string>uni021A</string>
		</array>
		<key>public.kern2.U</key>
		<array>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Utilde</string>
			<string>Umacron</string>
			<string>Ubreve</string>
			<string>Uring</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>Uhorn</string>
			<string>uni0214</string>
			<string>uni0216</string>
			<string>uni1EE4</string>
			<string>uni1EE6</string>
			<string>uni1EE8</string>
			<string>uni1EEA</string>
			<string>uni1EEC</string>
			<string>uni1EEE</string>
			<string>uni1EF0</string>
		</array>
		<key>public.kern2.W</key>
		<array>
			<string>W</string>
			<string>Wcircumflex</string>
			<string>Wgrave</string>
			<string>Wacute</string>
			<string>Wdieresis</string>
		</array>
		<key>public.kern2.Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>uni0232</string>
			<string>Ygrave</string>
			<string>uni1EF4</string>
			<string>uni1EF6</string>
			<string>uni1EF8</string>
		</array>
		<key>public.kern2.Z</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>Zcaron</string>
		</array>
		<key>public.kern2.a</key>
		<array>
			<string>a</string>
			<string>d</string>
			<string>q</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aogonek</string>
			<string>aringacute</string>
			<string>uni0201</string>
			<string>uni0203</string>
			<string>uni1EA1</string>
			<string>uni1EA3</string>
			<string>uni1EA5</string>
			<string>uni1EA7</string>
			<string>uni1EA9</string>
			<string>uni1EAB</string>
			<string>uni1EAD</string>
			<string>uni1EAF</string>
			<string>uni1EB1</string>
			<string>uni1EB3</string>
			<string>uni1EB5</string>
			<string>uni1EB7</string>
			<string>ae</string>
			<string>aeacute</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>uni01C6</string>
		</array>
		<key>public.kern2.bar</key>
		<array>
			<string>bar</string>
			<string>brokenbar</string>
		</array>
		<key>public.kern2.colon</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern2.colonmonetary.lf</key>
		<array>
			<string>colonmonetary.lf.1</string>
			<string>colonmonetary.lf</string>
		</array>
		<key>public.kern2.dollar.lf</key>
		<array>
			<string>dollar.lf.1</string>
			<string>dollar.lf</string>
		</array>
		<key>public.kern2.f</key>
		<array>
			<string>f</string>
			<string>germandbls</string>
			<string>fi</string>
			<string>fl</string>
			<string>f_f</string>
			<string>f_f_i</string>
			<string>f_f_l</string>
		</array>
		<key>public.kern2.g</key>
		<array>
			<string>g</string>
			<string>gcircumflex</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
			<string>uni0123</string>
			<string>gcaron</string>
		</array>
		<key>public.kern2.guilsinglleft</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
		</array>
		<key>public.kern2.guilsinglleft.case</key>
		<array>
			<string>guilsinglleft.case</string>
			<string>guillemotleft.case</string>
		</array>
		<key>public.kern2.guilsinglright</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
		</array>
		<key>public.kern2.guilsinglright.case</key>
		<array>
			<string>guilsinglright.case</string>
			<string>guillemotright.case</string>
		</array>
		<key>public.kern2.h</key>
		<array>
			<string>h</string>
			<string>k</string>
			<string>hcircumflex</string>
			<string>hbar</string>
			<string>uni0137</string>
			<string>thorn</string>
		</array>
		<key>public.kern2.hyphen</key>
		<array>
			<string>hyphen</string>
			<string>uni00AD</string>
			<string>endash</string>
			<string>emdash</string>
		</array>
		<key>public.kern2.hyphen.case</key>
		<array>
			<string>hyphen.case</string>
			<string>endash.case</string>
			<string>emdash.case</string>
		</array>
		<key>public.kern2.i</key>
		<array>
			<string>i</string>
			<string>dotlessi</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>itilde</string>
			<string>imacron</string>
			<string>ibreve</string>
			<string>iogonek</string>
			<string>uni0209</string>
			<string>uni020B</string>
			<string>uni1EC9</string>
			<string>uni1ECB</string>
		</array>
		<key>public.kern2.j</key>
		<array>
			<string>j</string>
			<string>uni0237</string>
			<string>jcircumflex</string>
		</array>
		<key>public.kern2.l</key>
		<array>
			<string>l</string>
			<string>lacute</string>
			<string>uni013C</string>
			<string>lcaron</string>
			<string>ldot</string>
			<string>uni01C9</string>
		</array>
		<key>public.kern2.minute</key>
		<array>
			<string>minute</string>
			<string>second</string>
		</array>
		<key>public.kern2.n</key>
		<array>
			<string>n</string>
			<string>m</string>
			<string>p</string>
			<string>r</string>
			<string>kgreenlandic</string>
			<string>ntilde</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>uni0146</string>
			<string>eng</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>uni0157</string>
			<string>uni0211</string>
			<string>uni0213</string>
			<string>uni01CC</string>
		</array>
		<key>public.kern2.o</key>
		<array>
			<string>o</string>
			<string>c</string>
			<string>e</string>
			<string>ccedilla</string>
			<string>cacute</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
			<string>ccaron</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>emacron</string>
			<string>ebreve</string>
			<string>edotaccent</string>
			<string>eogonek</string>
			<string>ecaron</string>
			<string>uni0205</string>
			<string>uni0207</string>
			<string>uni1EB9</string>
			<string>uni1EBB</string>
			<string>uni1EBD</string>
			<string>uni1EBF</string>
			<string>uni1EC1</string>
			<string>uni1EC3</string>
			<string>uni1EC5</string>
			<string>uni1EC7</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>omacron</string>
			<string>obreve</string>
			<string>ohungarumlaut</string>
			<string>ohorn</string>
			<string>uni01EB</string>
			<string>uni020D</string>
			<string>uni020F</string>
			<string>uni022B</string>
			<string>uni022D</string>
			<string>uni0231</string>
			<string>uni1ECD</string>
			<string>uni1ECF</string>
			<string>uni1ED1</string>
			<string>uni1ED3</string>
			<string>uni1ED5</string>
			<string>uni1ED7</string>
			<string>uni1ED9</string>
			<string>uni1EDB</string>
			<string>uni1EDD</string>
			<string>uni1EDF</string>
			<string>uni1EE1</string>
			<string>uni1EE3</string>
			<string>oslash</string>
			<string>oslashacute</string>
			<string>oe</string>
		</array>
		<key>public.kern2.percent</key>
		<array>
			<string>percent</string>
			<string>perthousand</string>
		</array>
		<key>public.kern2.period</key>
		<array>
			<string>period</string>
			<string>comma</string>
			<string>ellipsis</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>public.kern2.quoteleft</key>
		<array>
			<string>quoteleft</string>
			<string>quotedblleft</string>
		</array>
		<key>public.kern2.quoteright</key>
		<array>
			<string>quoteright</string>
			<string>uni02BC</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern2.quotesingle</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
		<key>public.kern2.s</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scircumflex</string>
			<string>scedilla</string>
			<string>scaron</string>
			<string>uni0219</string>
		</array>
		<key>public.kern2.space</key>
		<array>
			<string>space</string>
			<string>uni00A0</string>
		</array>
		<key>public.kern2.t</key>
		<array>
			<string>t</string>
			<string>uni0163</string>
			<string>tcaron</string>
			<string>tbar</string>
			<string>uni021B</string>
		</array>
		<key>public.kern2.u</key>
		<array>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>utilde</string>
			<string>umacron</string>
			<string>ubreve</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
			<string>uhorn</string>
			<string>uni0215</string>
			<string>uni0217</string>
			<string>uni1EE5</string>
			<string>uni1EE7</string>
			<string>uni1EE9</string>
			<string>uni1EEB</string>
			<string>uni1EED</string>
			<string>uni1EEF</string>
			<string>uni1EF1</string>
		</array>
		<key>public.kern2.uni20A6.lf</key>
		<array>
			<string>uni20A6.lf.1</string>
			<string>uni20A6.lf</string>
		</array>
		<key>public.kern2.uni20A9.lf</key>
		<array>
			<string>uni20A9.lf.1</string>
			<string>uni20A9.lf</string>
		</array>
		<key>public.kern2.uni20B1.lf</key>
		<array>
			<string>uni20B1.lf.1</string>
			<string>uni20B1.lf</string>
		</array>
		<key>public.kern2.uni20B2.lf</key>
		<array>
			<string>uni20B2.lf.1</string>
			<string>uni20B2.lf</string>
		</array>
		<key>public.kern2.w</key>
		<array>
			<string>w</string>
			<string>wcircumflex</string>
			<string>wgrave</string>
			<string>wacute</string>
			<string>wdieresis</string>
		</array>
		<key>public.kern2.y</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>ycircumflex</string>
			<string>uni0233</string>
			<string>ygrave</string>
			<string>uni1EF5</string>
			<string>uni1EF7</string>
			<string>uni1EF9</string>
		</array>
		<key>public.kern2.z</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zdotaccent</string>
			<string>zcaron</string>
		</array>
	</dict>
</plist>
