<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1535</integer>
    <key>capHeight</key>
    <integer>1430</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Newsreader Project Authors (http://github.com/productiontype/Newsreader)</string>
    <key>descender</key>
    <integer>-465</integer>
    <key>familyName</key>
    <string>Newsreader Display</string>
    <key>italicAngle</key>
    <integer>-17</integer>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>6</integer>
    <key>openTypeHheaAscender</key>
    <integer>1535</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-465</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Hugues Gentile</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.productiontype.com/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Production Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.productiontype.com/</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>4</integer>
      <integer>7</integer>
      <integer>8</integer>
      <integer>29</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>598</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>155</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>1535</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-465</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>6</integer>
      <integer>32</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>PROD</string>
    <key>openTypeOS2WeightClass</key>
    <integer>724</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2326</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>531</integer>
    <key>postscriptBlueFuzz</key>
    <integer>0</integer>
    <key>postscriptBlueScale</key>
    <real>0.025</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-26.48</real>
      <integer>0</integer>
      <integer>1024</integer>
      <real>1050.48</real>
      <integer>1430</integer>
      <real>1456.48</real>
      <integer>1464</integer>
      <real>1490.48</real>
    </array>
    <key>postscriptDefaultWidthX</key>
    <integer>200</integer>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-465</integer>
      <real>-438.52</real>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>85.92</real>
      <real>33.24</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>286.08000000000004</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-222</integer>
    <key>postscriptUnderlineThickness</key>
    <real>80.96000000000001</real>
    <key>postscriptWeightName</key>
    <string>Bold</string>
    <key>postscriptWindowsCharacterSet</key>
    <integer>1</integer>
    <key>styleName</key>
    <string>Bold Italic</string>
    <key>trademark</key>
    <string>Newsreader is a registered trademark of Production Systems SAS.</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>1024</integer>
  </dict>
</plist>
